html {
    box-sizing: border-box;
    font-size: 62.5%;/*para que 10 px sean igual a 1 rem*/
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.8rem;
    line-height: 2;
    font-family: 'Noto Sans', sans-serif;
    background: #14243d;
}
.center{
    text-align: center;
}
.responsive{
    max-width: 100%;
}
h1{
    text-shadow: 8px 8px 15px #4651e5;
    font-size: 5rem;
}
p{
    font-size: 1.8rem;
}
a{
    color: #2158fd;
}
.svg-style{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow-y: auto;
}
.header, .header-content{
    overflow-y: auto;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
@media (min-width: 800px) {
    .header-content{
        flex-direction: row;
        justify-content:space-around;
    }
}
.section-form{
    background-color: #000000;
    padding: 3rem;
    border-radius: 1.5rem;
    max-width: 50rem;
    color: #fff;
    -webkit-box-shadow: 3px 3px 21.5px -2.5px #4651e5;
        -moz-box-shadow: 3px 3px 21.5px -2.5px #4651e5;
        box-shadow: 3px 3px 21.5px -2.5px #4651e5;
}
.section-info{
    max-width: 50rem;
    color: #fff;
}
form{
    display: flex;
    flex-direction: column;
}
input, button{
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
    border-style: none;
    font-size: 1.8rem;
}
input{
    border: 1px solid #999999;
}
.error{
    border: 1px solid #ff0000;
}
.validated{
    border: 1px solid #06b700;
}
button{
    background-color: #4651E5;
    color: #fff;
    cursor: pointer;
}
button:hover{
    -webkit-box-shadow: 3px 3px 9.5px 3.5px #474bff;
    -moz-box-shadow: 3px 3px 9.5px 3.5px #474bff;
    box-shadow: 3px 3px 9.5px 3.5px #474bff;
    background-color: #adb0ff;
}
#button {
    cursor: not-allowed;
    background-color: #646ce0;
}
.greenBtn{
    background-color: #06b700;
}
.greenBtn:hover {
    -webkit-box-shadow: 3px 3px 9.5px 3.5px #06b700;
    -moz-box-shadow: 3px 3px 9.5px 3.5px #06b700;
    box-shadow: 3px 3px 9.5px 3.5px #06b700;
    background-color: #5acf7b;
}
.redBtn {
    background-color: #ff0000;
}
.redBtn:hover{
    -webkit-box-shadow: 3px 3px 9.5px 3.5px #ff0000;
    -moz-box-shadow: 3px 3px 9.5px 3.5px #ff0000;
    box-shadow: 3px 3px 9.5px 3.5px #ff0000;
    background-color: #d48383;
}
/* main Panel */
#cardBalance{
    font-size: 2.5rem;
    font-weight: bold;
}
.background{
    justify-content: center;
}
.card{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2.5rem;
    padding: 1rem 2rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    width: 38rem;
    -webkit-box-shadow: 3px 3px 21.5px -2.5px #4651e5;
    -moz-box-shadow: 3px 3px 21.5px -2.5px #4651e5;
    box-shadow: 3px 3px 21.5px -2.5px #4651e5;
}
.visa_logo {
    float: right;
}
.visa_logo img {
    width: 70px;
    height: 40px;
}
.informationHistory{
    display: flex;
    justify-content: space-between;
}
.RecentTransactions {
    text-align: center;
}
.informationHistory p {
    padding: 1rem 0;
    font-size: 1.7rem;
    /* color: #000000; */
}
.cardTitle{
    font-weight: bold;
    color: #ffffff;
}

