html {
    box-sizing: border-box;
    font-size: 62.5%;/*para que 10 px sean igual a 1 rem*/
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.8rem;
    line-height: 2;
    font-family: 'Noto Sans', sans-serif;
    background: #bc48ff;
    background: -webkit-linear-gradient(0deg, #bc48ff 0%, #4651e5 100%);
    background: linear-gradient(0deg, #bc48ff 0%, #4651e5 100%);
}
.center{
    text-align: center;
}
.responsive{
    max-width: 100%;
}
h1{
    color:#ffffff;
    font-size: 5rem;
}
p{
    font-size: 2rem;
    /* color: #ffffff; */
}
.svg-style{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow-y: auto;
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}
.header{
    background-image: url(img/mainPanel.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
    height: 100vh;
    padding: 2rem;
}
.header-content{
    overflow-y: auto;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    padding: 2rem;
}
.section-form{
    background-color: #fff;
    /* background: rgba(255, 255, 255, 0.4); */
    padding: 3rem;
    border-radius: 2rem;
    max-width: 50rem;
}
.section-info{
    max-width: 50rem;
}
form{
    display: flex;
    flex-direction: column;
}
input, button{
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
    border-style: none;
    font-size: 1.8rem;
}
input{
    border: 1px solid #999999;
}
.error{
    border: 1px solid #ff0000;
}
.validated{
    border: 1px solid #06b700;
}
button{
    background-color: #4651E5;
    color: #fff;
    cursor: pointer;
}
#button {
    cursor: not-allowed;
    background-color: #646ce0;
}
/* dashboard */
.background{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2.5rem;
    padding: 1rem 2rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    width: 38rem;
}
.visa_logo {
    float: right;
}
.informationUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.visa_logo img {
    width: 70px;
    height: 40px;
}

.informationHistory h3 {
    text-align: center;
    color: #000000;
}
.informationHistory p {
    padding: 1rem 0;
}
.cardTitle{
    font-weight: bold;
    color: #ffffff;
}
text{
    font-size: 5rem;
}
